<h1>Park Page</h1>

<div class="park-main-block">
  <h2><%= @park.name %>: <%= @park.admission_price %></h2>

  <div class="park-rides-block">
    <h3>Rides:</h3>
  </div>

  <div class="park-average-thrill-rating-block">
    <h3>Average Thrill Rating of Rides: </h3>
  </div>
</div>
